body{
    background-color: #dddddd;
}

h1{
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    position: fixed;
    left: 350px;
    width: 150px;
    height: 60px;
}

.header{
    background-color: #ffffff;
    padding: 30px;
}

h2{
    color: #4aaaa5;
}



section{
    position: fixed;
    top: 100px;
    left: 350px;
    width: 600px;
    height: 450px;
    background-color: #ffffff;
    color: #777777;
}

img{
    float: left;
    width: 150px;
    height: 150px;
}

.line{
    position: fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    background-color: #4aaaa5;
    padding: 20px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    padding: 20px;

}

