body{
    background-color: #dddddd;
}

h1{
    background-color: #4aaaa5;
    color: white;
    text-align: center;
    position: fixed;
    left: 350px;
    width: 150px;
    height: 60px;
}

.header{
    background-color: #ffffff;
    padding: 30px;
}

.boxset{
    color: #777777;
    font-size: 14px;
}

.About{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 250px;
    width: 100px;
    height: 50px;
}

.Portfolio{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 150px;
    width: 100px;
    height: 50px;
}
.Contact{
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 50px;
    width: 100px;
    height: 50px;
}

h2{
    color: #4aaaa5;
    background-color: #ffffff;
    position: fixed;
    text-align: justify;
    font-family: times;
    font-size: 24px;
    top: 100px;
    left: 300px;
    width: 66.4%;
    height: 50px;
}

.section{
    position: fixed;
    top: 150px;
    left: 300px;
    width: 850px;
    height: 300px;
    background-color: #ffffff;
    color: #777777;
}

img{
    float: left;
    width: 150px;
    height: 150px;
}

.line{
    position: fixed;
    left: 0;
    bottom: 5px;
    width: 100%;
    background-color: #4aaaa5;
    padding: 20px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    padding: 20px;

}

